<a href="https://colab.research.google.com/github/aishe21/Elumalai/blob/master/Stemming_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [2]:
texts = [
    "Penny bought bright blue fishes.",
    "Penny bought a bright blue and orange fish.",
    "The fish fished fish.",
    "I'm fishing fish.",
    "I hate blue bugs",
    "A blue bug ate a fish",
    "fish"
]

In [3]:
vec = CountVectorizer()

In [4]:
matrix = vec.fit_transform(texts)
matrix.toarray()

array([[0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]])

In [5]:
vec.get_feature_names()

['and',
 'ate',
 'blue',
 'bought',
 'bright',
 'bug',
 'bugs',
 'fish',
 'fished',
 'fishes',
 'fishing',
 'hate',
 'orange',
 'penny',
 'the']

In [6]:
results = pd.DataFrame(matrix.toarray(), columns=vec.get_feature_names())
results

   and  ate  blue  bought  bright  ...  fishing  hate  orange  penny  the
0    0    0     1       1       1  ...        0     0       0      1    0
1    1    0     1       1       1  ...        0     0       1      1    0
2    0    0     0       0       0  ...        0     0       0      0    1
3    0    0     0       0       0  ...        1     0       0      0    0
4    0    0     1       0       0  ...        0     1       0      0    0
5    0    1     1       0       0  ...        0     0       0      0    0
6    0    0     0       0       0  ...        0     0       0      0    0

[7 rows x 15 columns]

In [7]:
vec = CountVectorizer()
matrix = vec.fit_transform(texts)
results = pd.DataFrame(matrix.toarray(), columns=vec.get_feature_names())
results

   and  ate  blue  bought  bright  ...  fishing  hate  orange  penny  the
0    0    0     1       1       1  ...        0     0       0      1    0
1    1    0     1       1       1  ...        0     0       1      1    0
2    0    0     0       0       0  ...        0     0       0      0    1
3    0    0     0       0       0  ...        1     0       0      0    0
4    0    0     1       0       0  ...        0     1       0      0    0
5    0    1     1       0       0  ...        0     0       0      0    0
6    0    0     0       0       0  ...        0     0       0      0    0

[7 rows x 15 columns]